# all ignore
/*
/.**

# not ignore
!/.gitignore
!/README.md
!/dotfilesLink.sh
!/starship.toml
!/zsh/
!/rye/
!/nvim/
!/aquaproj-aqua/aqua.yaml
!/renovate.json

*.zwc
zsh/.zsh_history
nvim/lua/cli/node_server/node_modules
*.old
