# all ignore
/*
/.**

# not ignore
!/.gitignore
!/README.md
!/starship.toml
!/CorvusSKK/
!/zsh/
!/PowerShell
!/rye/config.toml
!/rye/env
!/nvim/
!/aquaproj-aqua/
!/renovate.json
!/setupScripts/
!/wezterm/

*.zwc
zsh/.zsh_history
zsh/completion/*
aquaproj-aqua/log.txt
nvim/lua/cli/node_server/node_modules
nvim/lun/cli/python_tools/.venv
*.old
*.bak

